---
//Imports
import { useTranslations, useTranslatedPath } from "@i18n/utils";
import Base from "@layouts/Base.astro";

// Get current language from URL
export function getStaticPaths() {
    return [
        {
            params: { dyn_routing: "dynamic-routing", index: undefined },
            props: { lang: "en" },
        },
    ];
}

// Props
const { lang } = Astro.props;

// Translations
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<Base
    title={t("routing:head.title")}
    meta={{
        description: t("routing:head.description"),
        keywords: t("routing:head.keywords"),
    }}
>
    <section>
        <h1 id="main-heading">{t("routing:title")}</h1>
        <p class="text-center" set:html={t("routing:description")} />

        <div
            class="flex flex-col md:flex-row gap-8 mt-16"
            role="list"
            aria-label="Available routing examples"
        >
            {
                Object.keys(t("routing:subpages")).map((key) => {
                    const title = t(`routing:subpages.${key}.title`);
                    const desc = t(`routing:subpages.${key}.description`).split(
                        "<br />"
                    )[0];

                    return (
                        <article class="card" role="listitem">
                            <a
                                href={translatePath(`/dynamic-routing/${key}`)}
                                title={desc}
                                aria-label={`Read more about ${title}`}
                            >
                                <h2>{title}</h2>
                                <p>{desc}</p>
                                <div class="mt-4 w-fit">
                                    <p aria-hidden="true" class="button">
                                        {t("routing:link")} →
                                    </p>
                                </div>
                            </a>
                        </article>
                    );
                })
            }
        </div>
    </section>
</Base>
