---
//Imports
import { useTranslations } from "@i18n/utils";
import Base from "@layouts/Base.astro";

// Get current language from URL
export function getStaticPaths() {
    return [
        {
            params: { index: "/" },
            props: { lang: "en" },
        },
        {
            params: { index: `sl/` },
            props: { lang: "sl" },
        },
    ];
}

// Props
const { lang } = Astro.props;

// Translations
const t = useTranslations(lang);
---

<Base
    title={t("main:head.title")}
    meta={{
        description: t("main:head.description"),
        keywords: t("main:head.keywords"),
    }}
>
    <section aria-labelledby="main-title">
        <h1 id="main-title">{t("main:title")}</h1>
        <p class="text-2xl font-semibold mb-4 text-center">
            {t("main:description")}
        </p>
        <p class="mb-4 text-center">
            {t("main:intro")}
        </p>

        {
            t("main:features").map((section, key) => (
                <>
                    <hr aria-hidden="true" />
                    <section aria-labelledby={`features-title-${key}`}>
                        <h2 id={`features-title-${key}`}>{section.title}</h2>
                        <ul aria-label={section.title}>
                            {section.list.map((item) => (
                                <li set:html={item.p} />
                            ))}
                        </ul>
                        {section.github && (
                            <a
                                href="https://github.com/Scorpio3310/astro-i18n-starter"
                                aria-label="GitHub Astro i18n Starter"
                                target="_blank"
                                rel="noopener noreferrer"
                                class="button w-fit mt-4"
                            >
                                {section.github} →
                            </a>
                        )}
                    </section>
                </>
            ))
        }
    </section>
</Base>
